


<footer>
	<div class="container">
		<!-- footer -->
		<div class="footer-cpy text-center">
			<div class="footer-social">
				<div class="copyrighttop">
					<ul>
						<li class="mx-3">
							<a class="github" href="https://github.com/telcikamil" target="_blank">
								<i class="fab fa-github"></i>
								<span>GitHub</span>
							</a>
						</li>
						<li>
							<a class="linkedin" href="https://www.linkedin.com/in/kamiltelci/" target="_blank">
								<i class="fab fa-linkedin"></i>
								<span>Linkedin</span>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="w3layouts-agile-copyrightbottom">
				<p>
					 @DateTime.Now.Year BoostBlog. All Rights Reserved | Design by
					<a href="https://www.linkedin.com/in/kamiltelci/">Kamil TELCI</a>
				</p>

			</div>
		</div>

		<!-- //footer -->


	</div>
</footer>
