<div class="header_top" id="home">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Index">
						Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="About" asp-action="AboutUs">About</a>
				</li>
				@if (User.Identity.IsAuthenticated)
				{
					<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Blog" asp-action="FavoriteBlogs">My Blogs</a>
				</li>

				}
				
			</ul>
		</div>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			@if (User.Identity.IsAuthenticated)
			{
				<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Create"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg></a>
				</li
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="User" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg></a>
				</li>
				</ul>
			}
			
		</div>
	</nav>

</div>