<section class="main-content-w3layouts-agileits">
	<div class="container">
		<h3 class="tittle">About</h3>
		<div class="row inner-sec">
			<!--left-->
			<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
				<div class="blog-grid-top">

					<div class="blog_info_left_grid">
						<a href="single.html">
							<img src="~/web/images/b5.jpg" class="img-fluid" alt="">
						</a>
					</div>
					<h3>
						Kamil Telci's BilgeAdam Boost Asp.Net MVC Blog Project
					</h3>
					<p>
						I use Asp.Net MVC this project and I supported with Identity library. 
					</p>
				</div>

			</div>
		</div>
	</div>
</section>